<h2 class="text-center">Detail Student</h2>
<table class="table" *ngIf="detaiStudent">
  <thead>
    <tr>
      <th>Id</th>
      <th>Tên</th>
      <th>Image</th>
      <th>Age</th>
      <th>Xếp loại học sinh</th>
      <th>Điểm số</th>
      <th>Là học sinh giỏi</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
      	<p>{{ detaiStudent.id }}</p>
      </td>
      <td>
      	<p>{{ detaiStudent.name }}</p>
      </td>
      <td>
      	<p>{{ detaiStudent.imageUrl }}</p>
      </td>
      <td>
      	<p>{{ detaiStudent.age }}</p>
      </td>
      <td>
      	<p>{{ detaiStudent.Type }}</p>
      </td>
      <td>
      	<p>{{ detaiStudent.score }}</p>
      </td>
      <td>
      	<p>{{ detaiStudent.id }}</p>
      </td>
    </tr>
  </tbody>
</table>