<h2 class="text-center">Edit Student</h2>
<form #f="ngForm" class="form-edit container-fluid">
  <div class="form-group row">
    <label for="staticName" class="col-sm-4 col-form-label">Tên</label>
    <div class="col-sm-8">
      <input type="text" readonly class="form-control-plaintext" id="staticName" value="Name" [(ngModel)]="detaiStudent.name" />
    </div>
  </div>
  <div class="form-group row">
    <label for="staticImage" class="col-sm-4 col-form-label">Image</label>
    <div class="col-sm-8">
      <input type="text" readonly class="form-control-plaintext" id="staticImage" value="Image" [(ngModel)]="detaiStudent.imageUrl">
    </div>
  </div>
  <div class="form-group row">
    <label for="staticAge" class="col-sm-4 col-form-label">Tuổi</label>
    <div class="col-sm-8">
      <input type="text" readonly class="form-control-plaintext" id="staticAge" value="Age" [(ngModel)]="detaiStudent.age">
    </div>
  </div>
  <div class="form-group row">
    <label for="staticType" class="col-sm-4 col-form-label">Xếp loại học sinh</label>
    <div class="col-sm-8">
      <input type="text" readonly class="form-control-plaintext" id="staticType" value="Type" [(ngModel)]="detaiStudent.Type">
    </div>
  </div>
  <div class="form-group row">
    <label for="staticCore" class="col-sm-4 col-form-label">Điểm số</label>
    <div class="col-sm-8">
      <input type="text" readonly class="form-control-plaintext" id="staticCore" value="Điểm số" [(ngModel)]="detaiStudent.score">
    </div>
  </div>
</form>