<h2 class="text-center">
  <br>
  List Student
  <br><br>
</h2>
<table class="table">
  <thead>
    <tr>
      <th>Học sinh</th>
      <th>Tên</th>
      <th>Image</th>
      <th>Age</th>
      <th>Xếp loại học sinh</th>
      <th>Điểm số</th>
      <th>Là học sinh giỏi</th>
      <th>
        <a routerLink = "/add-student">Add Student</a>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of listStudent">
      <td>
      	<p>{{ item.id }}</p>
      </td>
      <td>
      	<p>{{ item.name }}</p>
      </td>
      <td>
      	<p>{{ item.imageUrl }}</p>
      </td>
      <td>
      	<p>{{ item.age }}</p>
      </td>
      <td>
      	<p>{{ item.Type }}</p>
      </td>
      <td>
      	<p>{{ item.score }}</p>
      </td>
      <td>
      	<p>{{ item.id }}</p>
      </td>
      <td>
        <a class="blue" [routerLink]="['/detail-student', item.id]">Detail</a>
        <a class="blue" [routerLink]="['/edit-student', item.id]">Edit</a>
        <button type="button" (click) = delete(item.id) class="delete">Delete</button>
      </td>
    </tr>
  </tbody>
</table>

<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
    <li class="page-item" *ngFor="let item of page">
      <a class="page-link" href="#" [routerLink]="['/student']" [queryParams]="{pageNumber: item, filter: 'a'}">{{ item }}</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>
</nav>
