<h2 class="text-center">List Student</h2>
<table class="table">
  <thead>
    <tr>
      <th>Học sinh</th>
      <th>Tên</th>
      <th>Image</th>
      <th>Age</th>
      <th>Xếp loại học sinh</th>
      <th>Điểm số</th>
      <th>Là học sinh giỏi</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of listStudent">
      <td>
      	<p>{{ item.id }}</p>
      </td>
      <td>
      	<p>{{ item.name }}</p>
      </td>
      <td>
      	<p>{{ item.imageUrl }}</p>
      </td>
      <td>
      	<p>{{ item.age }}</p>
      </td>
      <td>
      	<p>{{ item.Type }}</p>
      </td>
      <td>
      	<p>{{ item.score }}</p>
      </td>
      <td>
      	<p>{{ item.id }}</p>
      </td>
      <td>
        <a type="button" class="blue" [routerLink]="['/detail-student', item.id]">Detail</a>
      	<button type="button" class="delete">Delete</button>
      	<button type="button" class="blue">Edit</button>
      </td>
    </tr>
  </tbody>
</table>