<div class="body">
	<div class="alert alert-primary text-center">
		<h2>Directive</h2>
		<div class="row">
			<div class="col-md-3">
				<div class="card">
					<div class="card-header bg-primary text-white">Highlight</div>
					<div class="card-body">
						<app-directive-highlight></app-directive-highlight>
					</div>
				</div>
			</div>
			<div class="col-md-3"></div>
			<div class="col-md-3"></div>
		</div>
	</div>
	<div class="alert alert-primary text-center">
		<h2>Customer pipe</h2>
		<div class="row">
			<div class="col-md-3">
				<div class="card">
					<div class="card-header bg-primary text-white">Capitalize</div>
					<div class="card-body">
						<app-description></app-description>
					</div>
				</div>
			</div>
			<div class="col-md-3"></div>
			<div class="col-md-3"></div>
		</div>
	</div>
	<div class="alert alert-success" role="alert">
		<h2 class="text-center">HttpClient</h2>
		<div class="row">
			<div class="col-md-6">
				<div class="card">
					<div class="card-header">Add Item</div>
					<div class="card-body">
						<form (ngSubmit)="save()">
							<input type="text"
								name="userName"
								#userName="ngModel"
								[(ngModel)]="student.userName">
								<button type="submit">Submit</button>
						</form>
					</div>
				</div>
			</div>
			<div class="col-md-6">
			</div>
		</div>
	<div class="alert alert-primary text-center" role="alert">
		<h2>Setting color</h2>
		<div class="row">
			<div class="col-md-4">
				<div class="card">
					<div class="card-header bg-primary text-white">AppComponent</div>
					<div class="card-body">
						<p [ngStyle]="{'color': colorText}">Bạn Vừng rất đáng iu <3</p>
						<button type="button" (click)="onClick()" class="btn btn-warning">Reset</button>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<app-control [childcolorText]="colorText" (eventChangeColor)="eventChangeColora($event)"></app-control>
			</div>
			<div class="col-md-4">
				<app-previewer [childcolorText]="colorText"></app-previewer>
			</div>
		</div>
	</div>

	<div class="alert alert-success" role="alert">
		<h2 class="text-center">Directive</h2>
		<div class="row">
			<div class="col-md-6">
				<div class="card">
					<div class="card-header">HighLight-Directive</div>
					<div class="card-body">
						<app-highlight></app-highlight>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="card">
					<div class="card-header"></div>
					<div class="card-body"></div>
				</div>
			</div>
		</div>
	</div>

	<app-ref-out-in [rmessage]="message"
					(answer)="toggle($event)"></app-ref-out-in>
	<br>
</div>
